<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219965234016-ke30qj6gq79varb707hp52qn71ps10co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219965234016-ke30qj6gq79varb707hp52qn71ps10co</string>
	<key>API_KEY</key>
	<string>AIzaSyCVWzvrUB1dJFmOojsNDqvTn9VK2HkRaeI</string>
	<key>GCM_SENDER_ID</key>
	<string>219965234016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.axas.QRInspect</string>
	<key>PROJECT_ID</key>
	<string>qrinspect-e0f26</string>
	<key>STORAGE_BUCKET</key>
	<string>qrinspect-e0f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219965234016:ios:8165efd8a388df8222dc05</string>
</dict>
</plist>